header {
  background: url(post-bg.jpg);
  background-size: cover;
  padding: 10px;
}
body {
  color: white;

}
ul {
  padding: 10px;
}
li {
  font-size: 12px;
  padding: 5px 0 0 40px;
  font-weight: 700;
}

head {
  font-family: 'Open Sans';
  font-weight: 700;
}
#posted {
  font-family: 'One Sans';
}

#left {
  font-family: Lora;
  padding: 5px 0 0 40px;
}

main {
  color: black;
}
